.container{
    margin-top: 2%;
}

textarea{
    height: 40%;
}

.card-header{
    background-color: #fff;
}

body{
    background-image: url("wall.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

#main-card{
    background-color: transparent;
    border-color: transparent;
    opacity: 0%;
}

#transparent{
    background-color: transparent;
}

#card-body{
    background-color: rgba(195, 195, 195, 0.651);
}

#decipher{
    height: 60%;
}

a{
    border-radius: 0%;
}

.button-padding{
    margin-bottom: 4%;
    margin-top: 4%; 
}

i{
    display:block;
    text-align:center
}

.text-center{
    text-align: center;
}

.nav-separation{
    margin-top: 5%;
}

input[type="text"]
{
    background: transparent;
    border-color: rgb(75, 75, 75);
    color: rgb(75, 75, 75);
}

